.cartdisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.3rem;

  h3 {
    font-size: 2rem;
    color: var(--mainPurple);
  }
}
.cartimg {
  max-width: 50%;
  max-height: 50%;
  height: 5rem;
  width: 5rem;
  margin: 10px;
}

.cartitems {
  height: 13rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
  border: 0.2rem solid lightgrey;
  border-radius: 0.5rem;
}

.stripe {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (min-width: 500px) and (max-width: 501px) {
  .cartdisplay {
    height: 5rem;
    width: 10rem;
  }
}
