:root {
  --mainPurple: #4b367c;
  --lightPurple: #9b89bd;
  --mainWhite: #ffffff;
  --mainDark: #0f0e11;
  --mainYellow: #ffd701;
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "Press Start 2P", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-purple {
  color: var(--mainPurple);
}
.text-bright {
  color: var(--lightPurple);
}
